<!DOCTYPE HTML>
<html>
    <head>
        <title>
            Hello world
        </title>
        <script src="jquery.js"></script>
        <script src="test.js"></script>
    </head>
    <body>
        <H2>dong chu</H2>
        <input type="text" id="txtid" placeholder="input name" value=""/>
        <input type="text" id="txtpass" placeholder="input pass" value=""/>
        <button id="btnPost">Post</button>
        <button id="btnGet" >Get</button>
    </body>
</html>