section {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

span {
    color: black;
}

form[id=form1]{
    display: flex;
}
form[id=form2]{
    display: flex;
}
form[id=form3]{
    display: flex;
}

input[type=text] {
    width: 90%;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 16px;
    padding: 5px;
    margin: 10px 0;
} 

input[id=btnSave]{
    display: inline-block;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 15px;
    margin-bottom: 50px;
    margin-left: 20%
    
  }
  input[id=btnExit1]{
    display: inline-block;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 15px;
    margin-bottom: 50px;
    margin-left: 3%
  }

input[type=password] {
    width: 90%;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 16px;
    padding: 5px;
    margin: 10px 0;
} 


.column1 {
    flex: 5%;
    text-align: right;
}

.column1 > p {
    padding: 0 0 16px;
}

.column2 {
    flex: 60%;
    margin: 0 5%;
}

.font {
    font-size: 20px;
}

#khungthongtin{
    font-size: 10px;
    width:1250px;
    height:auto;
    margin-left: -100px;
    margin-bottom: 50px;
    border:5px solid black;
    background-color: #999;
}

.tieudedanhsach{
    color: black;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
button {
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 20px;
    margin: 5px 10px;
}

#thongtinmacdinh {
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: 15%;
}

#thongtinmacdinh input[id=btnExit]{
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-top: 5%;
  margin-bottom: 50px;
  margin-left: 15%
}

table {
    font-family: arial, sans-serif;
    font-size: 15px;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#md1, #xacnhanxoa , #formsua{ 
    display: none;
    position: fixed;
    width: 100%;
    height: 90%; 
    overflow: auto;
    z-index: 5;
    left: 0;
    top: 0;
    padding-top: 100px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}
.phantren{
    height: 320px;
    width: max;
    background-color: rgb(180, 177, 177);
}

.phantren .thongtinnguoidung{
    float: left;
    height: 160px;
    width: 460px;
    background-color: rgb(180, 177, 177);
}
.phantren .thongtinnguoidung1{
    float: right;
    height: 160px;
    width: 460px;
}

#addForm a, #xacnhanxoa a {
    padding: 5px 15px;
    margin-left: 15px;
    border: 1px solid gray;
    box-shadow: 2px 2px gray; 
}

#addForm a:active, #xacnhanxoa a:active {
    box-shadow: none;
    margin-left: 16px;
    margin-bottom: 1px;
}

#xacnhanxoa {
    background-color: rgba(255,255,255,0);
    font-size: 18px;
}

#xacnhanxoa .modal-content {
    width: 30%;
    border-radius: 5px;
}

#xacnhanxoa b {
    background-color: blue;
    margin: -5px -1px 0;
    padding-right: 99.5%;
    padding-top: 1px;
    padding-bottom: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#xacnhanxoa .close {
    right: 35%;
    color: white;
    border-radius: 5px;
}

#xacnhanxoa .close:hover {
    background-color: red;
}

#addForm a, #formsua a {
    padding: 5px 15px;
    margin-left: 15px;
    border: 1px solid gray;
    box-shadow: 2px 2px gray; 
}

#addForm a:active, #formsua a:active {
    box-shadow: none;
    margin-left: 16px;
    margin-bottom: 1px;
}

#formsua {
    background-color: rgba(255,255,255,0);
    font-size: 18px;
}

#formsua .modal-content {
    width: 30%;
    border-radius: 5px;
}

#formsua b {
    background-color: blue;
    margin: -5px -1px 0;
    padding-right: 99.5%;
    padding-top: 1px;
    padding-bottom: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#formsua .close {
    right: 35%;
    color: white;
    border-radius: 5px;
}

#formsua .close:hover {
    background-color: red;
}